* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  background: #f3f4f6;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}